@charset "UTF-8";
/* Corpo */
body{
    background-image: linear-gradient(rgb(232, 148, 39), rgba(253, 232, 100, 0.411));
    font-size: 25px;
    text-align: center;
    align-items: center;
    background-attachment: fixed;
}
#cabecalho{
    background-image: linear-gradient(rgb(255, 237, 120), rgb(254, 91, 46));    
    border: 5px outset black;
    margin: 1px auto 0px auto;
    padding: 0px 0px 0px 0px;
    text-align: center;
    border-radius: 7px;
    max-width: 300px;
    box-shadow: 4px 1px 1px rgb(0, 0, 0);
}
#logTeste{
    align-items: center;
    text-align: center;
    margin: 0px auto 0px auto;
}
.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
    pointer-events: none;
}
#painel-principal{
    margin: 20px auto 1px auto;
    padding: 0px 0px 0px 0px;
    align-items: center;
    text-align: center;
    max-width: 600px;
}
nav{
    align-items: center;
    text-align: center;
}
#painel-navegacao{
    margin: 0px auto -30px auto;
    padding: 10px 0px 0px 0px;
    max-width: 400px;
    display: block;
}
.navegadores{
    background-color: rgb(255, 98, 98);
    color: black;
    border: 2px outset  rgb(109, 103, 103);
    border-radius: 20px;
    margin: 0px 10px -10px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-weight: 600;
    transform: scale(1);
    transition: 0.5s;
}
.navegadores:hover{
    background-color: #84f7f7;
    transform: scale(1.1);
}
.navegadores:active{
    transition: 0.1s;
    background-color: #7bbaba;
    color: antiquewhite;
}
#painel-conteudo{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 10px 15px;
    display: inline-flex;
    max-width: 600px;
}
#produto, #cliente, #estoque{
    align-items: center;
    text-align: center;
    display: none;
}
#formCliente, #formProcurarCliente, #formProduto, #formProcurarProduto{
    display: none;
}
#erroNomeCadastroCliente, #erroNomeCadastroProduto{
    color: red;
}
.sucessCliente{
    color: green;
}
.divCliente{
    background-color: #84f7f78f;
    align-items: center;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px auto 10px auto;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: 250px;
}
.divCliente>h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px 0px 0px;
}
.divCliente>.atv{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px 0px 0px;
    background-color: mediumspringgreen;
    border-radius: 0px 0px 10px 10px;
}
.divCliente>.ina{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px 0px 0px;
    background-color: indianred;
    border-radius: 0px 0px 10px 10px;
}
.editarCliente{
    background-color: transparent;
    color: black;  
    margin: 5px 20px 0px 0px;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: painted;
}
.editarCliente:hover{
    background-color: gray;
    color: white;
}
.removeCliente{
    background-color: transparent;
    color: red;
    margin: 5px 0px 0px 20px;
    border: 1px solid red;
    border-radius: 5px;
}
.removeCliente:hover{
    background-color: indianred;
    color: white;
}
#procurarCadastro{
    margin: 10px 0px 0px 0px;
}
#principal{
    display: block;
}
#principal>h3{
    font-weight: 600;
}
.botao{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    margin: 0px 10px 0px 10px;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
}
.botao:hover{
    background-color: #84f7f7;
}
.botao:active{
    transition: 0.1s;
    background-color: #7bbaba;
    color: antiquewhite;
}
#inputNomeCliente, #inputNomeProcuraCliente, #inputCnpjCliente{
    margin: 0px 0px 10px 0px;
}
/*Produtos*/
.divProduto{
    background-color: #84f7f78f;
    align-items: center;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0px auto 10px auto;
    padding: 0px 0px 0px 0px;
    height: auto;
    width: 250px;
}
.divProduto>h3{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px 0px 0px;
}
.divProduto>.atv{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px 0px 0px;
    background-color: mediumspringgreen;
    border-radius: 0px 0px 10px 10px;
}
.divProduto>.ina{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px 0px 0px 0px;
    background-color: indianred;
    border-radius: 0px 0px 10px 10px;
}
.editarProduto{
    background-color: transparent;
    color: black;  
    margin: 5px 20px 0px 0px;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: painted;
}
.editarProduto:hover{
    background-color: gray;
    color: white;
}
.removeProduto{
    background-color: transparent;
    color: red;
    margin: 5px 0px 0px 20px;
    border: 1px solid red;
    border-radius: 5px;
}
.removeProduto:hover{
    background-color: indianred;
    color: white;
}
/*Footer*/
.devNames{
    display: block;
    font-size: 20px;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: black;
    padding: 2px 6px 2px 6px;
    margin: 15px 30px 10px 70px;
    transform: scale(1);
    transition: 0.2s;
}
.devNames:hover{
    color: white;
    transform: scale(1.05);
}
.devNames:active{
    background-color: #336767;
    color: gray;
}
#footer{
    background-image: linear-gradient(rgb(250, 67, 67), rgb(33, 33, 253));  
    border: 1px solid black;
    border-radius: 30px;
    margin: 10px auto 0px auto;
    padding: 0px 0px 30px 0px;
    text-align: center;
    align-items: center;
    max-width: 370px;
}
#footer>p{
    font-size: 20px;
    font-weight: 600;
    pointer-events: none;
}
.devFooter{
    display: -webkit-inline-box;
    margin: -10px 0px -10px -80px;
}
.botaoContato{
    display: contents;
    margin: 0px 0px 0px 0px;
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 8px;
    color: #ffffff;
    background-color: rgb(49, 39, 115, 0.7);
    box-shadow: 1px 1px 3px 0px black;
    text-shadow: 1px 1px 3px #000000c7;
    text-decoration: none;
    font-size: 20px;
}
.botaoContato:hover{
    color: #dfd985;
}
.botaoContato:active{
    box-shadow: inset 1px 1px 2px black;
    color: black;
}
.ico-contato{
    display: inline-block;
    margin: 0px 5px -3px 0px;
    transform: scale(1);
    transition: 0.5s;
}
.botaoContato:hover > .ico-contato{
    transform: scale(1.3);
}
/*Button CPF e CNPJ Style*/
.checkbox-wrapper-10 .tgl {
    display: none;
    }
    .checkbox-wrapper-10 .tgl,
    .checkbox-wrapper-10 .tgl:after,
    .checkbox-wrapper-10 .tgl:before,
    .checkbox-wrapper-10 .tgl *,
    .checkbox-wrapper-10 .tgl *:after,
    .checkbox-wrapper-10 .tgl *:before,
    .checkbox-wrapper-10 .tgl + .tgl-btn {
    box-sizing: border-box;
    }
    .checkbox-wrapper-10 .tgl::-moz-selection,
    .checkbox-wrapper-10 .tgl:after::-moz-selection,
    .checkbox-wrapper-10 .tgl:before::-moz-selection,
    .checkbox-wrapper-10 .tgl *::-moz-selection,
    .checkbox-wrapper-10 .tgl *:after::-moz-selection,
    .checkbox-wrapper-10 .tgl *:before::-moz-selection,
    .checkbox-wrapper-10 .tgl + .tgl-btn::-moz-selection,
    .checkbox-wrapper-10 .tgl::selection,
    .checkbox-wrapper-10 .tgl:after::selection,
    .checkbox-wrapper-10 .tgl:before::selection,
    .checkbox-wrapper-10 .tgl *::selection,
    .checkbox-wrapper-10 .tgl *:after::selection,
    .checkbox-wrapper-10 .tgl *:before::selection,
    .checkbox-wrapper-10 .tgl + .tgl-btn::selection {
    background: none;
    }
    .checkbox-wrapper-10 .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }
    .checkbox-wrapper-10 .tgl + .tgl-btn:after,
    .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    }
    .checkbox-wrapper-10 .tgl + .tgl-btn:after {
    left: 0;
    }
    .checkbox-wrapper-10 .tgl + .tgl-btn:before {
    display: none;
    }
    .checkbox-wrapper-10 .tgl:checked + .tgl-btn:after {
    left: 50%;
    }
    
    .checkbox-wrapper-10 .tgl-flip + .tgl-btn {
    padding: 2px;
    transition: all 0.2s ease;
    font-family: sans-serif;
    perspective: 100px;
    }
    .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after,
    .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    display: inline-block;
    transition: all 0.4s ease;
    width: 100%;
    text-align: center;
    position: absolute;
    line-height: 2em;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 4px;
    }
    .checkbox-wrapper-10 .tgl-flip + .tgl-btn:after {
    content: attr(data-tg-on);
    background: #02C66F;
    transform: rotateY(-180deg);
    }
    .checkbox-wrapper-10 .tgl-flip + .tgl-btn:before {
    background: #4b5ff7;
    content: attr(data-tg-off);
    }
    .checkbox-wrapper-10 .tgl-flip + .tgl-btn:active:before {
    transform: rotateY(-20deg);
    }
    .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:before {
    transform: rotateY(180deg);
    }
    .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:after {
    transform: rotateY(0);
    left: 0;
    background: #7FC6A6;
    }
    .checkbox-wrapper-10 .tgl-flip:checked + .tgl-btn:active:after {
    transform: rotateY(20deg);
    }
    .tgl-btn{
    margin-bottom: -10px;
    font-size: 13px;
    }
    .checkbox-wrapper-10{
    display: inline-block;
    }    