@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body{
    background-color: lightgray;
    background-attachment: fixed;
    margin: 0px 10px;
}
header{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    width: 100%;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    font-weight: 600;
    width: 200px;
    background-color: #afbbe1;
    margin: 10px auto;
    box-shadow: 1px 1px 3px black;
    border-radius: 20px;
}

nav{
    max-width: 400px;
    margin: 15px auto 15px auto;
}
.links{
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #afbbe1;
    box-shadow: 1px 1px 3px black;
    text-decoration: none;
    color: black;
}
.links:hover{
    color: white;
    background-color: #92a4e0;
    box-shadow: 1px 1px 3px white;
}
.links:active{
    box-shadow: inset 1px 3px black;
    color: black;
}
.link-desativo{
    background-color: #92a4e0;
    box-shadow: inset 1px 3px black;
    color: black;
    pointer-events: none;
}
main{
    background-color: #92a4e0;
    max-width: 1800px;
    margin: 0px auto;
    padding: 20px 10px;
    border-radius: 20px;
}
/* <- Principal -> */
#principal{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}