@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
body{
    background-color: lightgray;
    background-attachment: fixed;
    margin: 0px 10px;
}
header{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    background-color: #afbbe1;
    margin: 10px auto;
    box-shadow: 1px 1px 3px black;
    border-radius: 20px;
}
nav{
    max-width: 400px;
    margin: 5px auto;
}
.links{
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: #afbbe1;
    border: 0px;
    box-shadow: 1px 1px 3px black;
    transform: scale(1);
    transition: scale(0.3s);
}
.links:hover{
    transform: scale(1.2);
    color: white;
    background-color: #92a4e0;
    box-shadow: 1px 1px 3px white;
}
.links:focus{
    box-shadow: inset 1px 3px black;
    transform: scale(1);
    color: black;
    transition: 0.3s;
}
main{
    background-color: #92a4e0;
    max-width: 750px;
    margin: 0px auto;
    padding: 20px 50px;
    border-radius: 20px;
}
/* <- Principal -> */
#principal{
    display: none;
    justify-content: center;
    flex-flow: column wrap;
}
/* <- Cliente -> */
#input-cliente, #output-cliente{
    display: flex;
    flex-flow: column wrap;
}
#formCliente {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.cpfCnpjInput>input{
    width: 156px;
}
#formCliente>div{
    height: 20px;
}
/* <- Proutos -> */
#input-produto, #output-produto{
    display: none;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}
#formProduto {
    display: none;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
/* <- Estoque -> */
#input-estoque, #output-estoque{
    display: none;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}
#formEstoque {
    display: none;
    flex-wrap: wrap;
    gap: 5px;
    background-color: aquamarine;
    justify-content: center;
}